@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap');

:root {
  --tema-relleno1: var(--tema-cian-relleno1);
  --tema-relleno1a: var(--tema-cian-relleno1a);
  --tema-relleno2: var(--tema-cian-relleno2);
  --tema-relleno2a: var(--tema-cian-relleno2a);
  --tema-texto-p0: var(--tema-cian-texto-p0);
  --tema-texto-h1: var(--tema-cian-texto-h1);
  --tema-texto-h2: var(--tema-cian-texto-h2);
  --tema-hoja-000: var(--tema-cian-hoja-000);
  --tema-fuente-h: var(--tema-cian-fuente-h);
  --tema-tamaño-h: var(--tema-cian-tamaño-h);
  --tema-fuente-p: var(--tema-cian-fuente-p);
  --tema-tamaño-p: var(--tema-cian-tamaño-p);

  --navbar-height: 4rem;
  
  --codding-animation-status: running;  /*running, paused*/
  --codding-animation-duration: 20s;

  --display-thumbnail-project: block;
  --display-preview-project: none;
  
  /*####### Temas #######*/
  --tema-cian-relleno1: hsl(216, 40%, 40%);
  --tema-cian-relleno1a: hsl(216, 40%, 40%);
  --tema-cian-relleno2: hsl(218, 25%, 15%);
  --tema-cian-relleno2a: hsl(218, 25%, 25%);
  --tema-cian-texto-p0: hsl(216, 88%, 90%);
  --tema-cian-texto-h1: hsl(216, 88%, 90%);
  --tema-cian-texto-h2: hsl(216, 100%, 84%);
  --tema-cian-hoja-000: rgba(0, 0, 0, 0.8);
  --tema-cian-fuente-h: 'Lucida Console', 'Roboto Mono', monospace;
  --tema-cian-tamaño-h: 15pt;
  --tema-cian-fuente-p: 'Century Gothic', 'Montserrat', sans-serif;
  --tema-cian-tamaño-p: 13pt;
  /*#####################*/
}

html {
  font-size: 10px;
  margin: 0;
  border: 0;
  min-width: 440px;
}

body {
  border: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--tema-hoja-000);
  background-image: url(./img/JS10.opt.svg);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-size: 100% auto;
  background-repeat: repeat;
  animation-name: codding;
  animation-duration: var(--codding-animation-duration);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: var(--codding-animation-status);
  animation-timing-function: linear; /*linear;steps(28);steps(112)*/
}

@keyframes codding {
  100% {
    background-position-y: calc(-3*100vh);
  }
}

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}

nav {
  display: flex;
  font-size: 2rem;
  height: var(--navbar-height);
  font-family: "Roboto Condensed", Geneva, Verdana, sans-serif;
  font-weight: 600;
  background-color: var(--tema-relleno2);
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}

nav a {
  color: var(--tema-texto-h1);
  text-decoration-line: none;
  padding: 0.2em 1em;
  width: 33.33%;
  border-bottom: 0.2em solid var(--tema-relleno2);
}

nav a:hover {
  background-color: var(--tema-relleno1);
  color: var(--tema-texto-h1);
  border-bottom: 0.2em solid var(--tema-texto-h1);
}

a.salto-preciso {
  display: block;
  position: relative;
  padding-top: var(--navbar-height);
  margin-top:  calc(-1 * var(--navbar-height));
  z-index: -1;
}

main {
  margin: 0;
  /* padding-top: 33vh; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#welcome-section {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  opacity: 0.9;
}

#Bienvenido {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: var(--navbar-height);
  height: calc(100% - var(--navbar-height));
  background: linear-gradient(to top right, var(--tema-relleno2), var(--tema-relleno2a));
  color: var(--tema-texto-h1);
}

#header-img {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 30vh;
  width: 30vh;
  border: 1rem solid var(--tema-texto-h1);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5em #fff5;
}

#Foto {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 -100px 0;
  padding: 0;
  /* padding: 5vh; */
}

h1 {
  font-size: 5rem;
  padding: 0;
  margin: 0;
  text-shadow: 0 0 1em #fff5;
}

p.subtitulo {
  font-size: 3rem;
  padding: 0 1em;
}

#profile-link {
  border-color: var(--tema-relleno1);
  background: var(--tema-relleno1);
  color: var(--tema-texto-p0);
  transition: opacity 1s ease;
}

#profile-link:hover {
  border-color: var(--tema-relleno1);
  background: var(--tema-texto-p0);
  color: var(--tema-relleno1);
}

section.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

div.project-tile {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 50vh;
  width: 90%;
  opacity: 0.95;
  background: linear-gradient(to bottom right, var(--tema-relleno1), var(--tema-relleno1a));
  padding: 0;
  margin: 1em auto;
  font-size: 1.5rem;
  color: var(--tema-texto-p0);
  align-content: center;
  text-align: center;
  justify-content: space-between;

}

div.project-tile:hover {
  height: 75vh;
  opacity: 1;
  transition: 0.5s ease;
  --display-preview-project: block;
  --display-thumbnail-project: none;
}

h2.project {
  display: block;
  width: 100%;
  background-color: var(--tema-relleno2);
  color: var(--tema-cian-texto-h2);
  margin: 0 0;
  padding: 1em 0;
}

div.grid-preview-image {
  display: block;
  position: relative;
  width: 100%;
  height: 75vh;
}

div .grid-preview-image:first-child {
  width: 200%;
  height: 75vh;
  transform: scale(0.5);
  transform-origin: top left;
  display: var(--display-preview-project);
  position: absolute;
  top: 0;
  left: 0;
}

div .grid-preview-image:last-child{
  height: 5em;
  padding: 0 1em;
  width: auto;
  margin: 1em auto;
  display: var(--display-thumbnail-project);
  border: solid var(--tema-relleno2);
  border-width: 0 0.25em; 
}

p.project {
  padding: 0 1em;
  font-size: 2rem;
  margin: 0;
}

a.project {
  padding: 0.2em;
  margin: 1em 0;
  font-size: 2rem;
  align-self: center;
  border-radius: 2em;
  border: 0.2em solid var(--tema-relleno2);
  background-color: var(--tema-relleno2);
  width: 80%;
  color: var(--tema-texto-h2);
  font-weight: bold;
  text-decoration: none;
}

a.project:hover {
  background: linear-gradient(to bottom right, var(--tema-texto-p0), var(--tema-texto-h2));
  color: var(--tema-relleno2);
  font-weight: bold;
  border: 0.2em solid var(--tema-relleno2);
  cursor: pointer;
}

a.project:focus {
  /* border: 5px solid #007e7a; */
  outline: none;
  border: 0.2em solid var(--tema-relleno2);  
}

footer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top right, var(--tema-relleno2), var(--tema-relleno2a));
  color: var(--tema-texto-h1);
  padding: 0.5em 2.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2em;
}

.contact-info {
  font-family: 'Century Gothic', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5em 0;
  color: var(--tema-texto-h1);
  text-decoration-line: none;
  align-items: center;
}

.contact-info strong {
  font-size: 2rem;
}

a.contact-info {
  display: flex;
  justify-content: center;
}

.copyright {
  font-size: 1.5rem;
  margin-top: 0.5em;
  font-style: italic;
}

.icon {
  height: 1.2em;
  width: auto;
  padding: 0 0.5em;
}

.icon path{
  fill: var(--tema-texto-h1);
}

@media (min-width: 700px) {
  section.AboutUS {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3em;
    gap: 3em;
  }

  div.project-tile {
    width: 100%;
    margin: 0;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }

  form {
    width: 45%;
  }

  #video {
    display: block;
    width: 700px;
  }
}

#fcc_test_suite_wrapper {
  opacity: 0;
}

/* #fcc_test_suite_wrapper:hover {
  opacity: 1;
} */
