.projectTile {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  width: 90%;
  /* opacity: 0.85; */
  background: linear-gradient(to bottom right, var(--tema-relleno1), var(--tema-relleno1a));
  padding: 0;
  margin: 1em auto;
  font-size: 1.5rem;
  color: var(--tema-texto-p0);
  align-content: center;
  text-align: center;
  justify-content: space-between;
  transition: 0.5s ease;
}

/* .projectTile:hover {
  opacity: 1;
} */

.projectTitle {
  display: block;
  width: 100%;
  background-color: var(--tema-relleno2);
  color: var(--tema-cian-texto-h2);
  margin: 0 0;
  padding: 1em 0;
}

.gridPreviewImage {
  display: block;
  position: relative;
  width: 100%;
}

.gridPreviewImage img {
  width: 50%;
  height: auto;
  padding: 0 1em;
  margin: 1em auto;
  border: solid var(--tema-relleno2);
  border-width: 0 0.25em; 
  transition: all 0.5s ease-in-out;
}

.projectTile:hover .gridPreviewImage img {
  padding: 0;
  border-width: 0;
  width: 100%;
  margin: 0 auto 1em auto;
}

p.project {
  margin: 0;
  padding: 0 1em;
  font-size: 2rem;
  height: 4em;
  overflow-y: auto;
}

@media screen and (min-width: 769px) {
  .projectTile {
    width: 100%;
    margin: 0;
  }

}