.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

@media screen and (min-width: 481px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3em;
    gap: 3em;
  }
}

@media screen and (min-width: 769px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}